body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0px 100px;
}

.header .left-header{
    display: flex;
    color: #f9faf8;
    font-size: 24px;
}

.header .right-header{
    display: flex;
    gap: 8px;
}

.hero-text{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 138px;
     padding-bottom: 175px; 
    

}
.hero-text > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-text{
   font-size: 48px;
   color: #f9faf8;
   font-weight: bold; 
}

.sub-text{
    font-size: 18px;
    color: #e5e7eb;
}

img{
    border-radius: 15px /* Use this to make rounded corners */;
    width: 1000px;
    height: 200px;
}

a{
    text-decoration: none;
    color:#e5e7eb;
}

button{
    background: #3882f6;
    border-color: #3882f6;
    border-radius: 8px;
    color: #e5e7eb;
}

li{list-style-type: none;}